<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Available Parking</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="./css/index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body class="w3-light-grey">
  <main class="w3-light-grey">
    <!-- Header -->
    <header>
      <div class="w3-container">
        <h1 class="w3-h1">Available Parking Across the City</h1>
      </div>
    </header>

    <section class="w3-container w3-padding-large">
      <hr>
      <div class="w3-third w3-margin-bottom">
        <ul class="w3-ul w3-border w3-white w3-center">
          <li class="w3-teal w3-xlarge w3-padding-32">Aberdeen Parking Lot</li>
          <li class="w3-padding-16">
          <p id="spaces">Available Spaces: <%= spaces %></p></li>

        </ul>
      </div>
    </section>
  </main>
</body>
<script>
  function refresh() {
    $("#spaces").load(location.href + " #spaces");
  }
  setInterval(refresh, 5000);
</script>
</html>
